WhatsAppBookingFlow/personal-booking-whatsapp-flow.json
{
  "nodes": [
    {
      "parameters": {
        "path": "whatsapp-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "16ebe244-7a1f-4371-920e-2b26f16d6221",
      "name": "GET: Verify Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [1520, 1616],
      "webhookId": "whatsapp-webhook-get"
    },
    {
      "parameters": {
        "jsCode": "// Handle GET verification request from WhatsApp\nconst query = $input.first().json.query || {};\nconst VERIFY_TOKEN = $env.WHATSAPP_VERIFY_TOKEN || 'your_verify_token_here';\n\nif (query['hub.mode'] !== 'subscribe') {\n  throw new Error('Invalid hub.mode');\n}\n\nif (query['hub.verify_token'] !== VERIFY_TOKEN) {\n  throw new Error('Invalid verify token');\n}\n\nreturn {\n  json: {\n    challenge: query['hub.challenge']\n  }\n};"
      },
      "id": "ef978fc0-fcea-4dc1-a6c2-21abd4253e42",
      "name": "Verify Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1744, 1616]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.challenge }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "8a7d749c-d79f-4e57-b79f-2ffff8738379",
      "name": "Return Challenge",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1984, 1616]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.isRegularMessage }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              },
              "id": "bde30647-9802-41d4-a346-3355ab24dca6"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a603ff25-7f79-41cf-9473-6f6f284dae52",
      "name": "Is Regular Message?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1312, 2032]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'received' }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "afad1d2a-e9b9-441b-9427-64e01599d288",
      "name": "Return 200 OK (Regular Message)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2224, 2016]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "4dc26450-107b-450d-846e-8651240eb1de",
      "name": "POST: Receive Messages1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [864, 2032],
      "webhookId": "whatsapp-webhook-post"
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\n\nconst PRIVATE_KEY = $env.WHATSAPP_PRIVATE_KEY || '';\nconst PASSPHRASE = $env.WHATSAPP_PRIVATE_KEY_PASSPHRASE || '';\n\nlet privateKey = PRIVATE_KEY;\nif (!PRIVATE_KEY.includes('\\n') && PRIVATE_KEY.includes('\\\\n')) {\n  privateKey = PRIVATE_KEY.replace(/\\\\n/g, '\\n');\n}\n\nconst body = $input.first().json.body;\n\n// Check if this is a regular WhatsApp message (not a Flow request)\nif (body?.entry) {\n  const entry = body.entry[0];\n  const changes = entry?.changes?.[0];\n  const value = changes?.value;\n  const messages = value?.messages;\n\n  if (messages && messages.length > 0) {\n    const message = messages[0];\n    const from = message.from;\n    const messageType = message.type;\n\n    // Handle interactive button replies\n    if (messageType === 'interactive' && message.interactive?.type === 'button_reply') {\n      const buttonId = message.interactive.button_reply.id;\n      const buttonTitle = message.interactive.button_reply.title;\n      const parts = buttonId.split('_');\n      const action = parts[0];\n      const recordId = parts.slice(1).join('_');\n\n      return {\n        json: {\n          messageType: 'button_reply',\n          action: action,\n          recordId: recordId,\n          customerPhone: from,\n          buttonTitle: buttonTitle,\n          isRegularMessage: true\n        }\n      };\n    }\n\n    // Handle text messages\n    if (messageType === 'text') {\n      return {\n        json: {\n          messageType: 'text_message',\n          from: from,\n          text: message.text?.body || '',\n          isRegularMessage: true\n        }\n      };\n    }\n\n    // Other message types\n    return {\n      json: {\n        messageType: messageType,\n        from: from,\n        raw: message,\n        isRegularMessage: true\n      }\n    };\n  }\n\n  // Status update or other non-message webhook\n  return {\n    json: {\n      messageType: 'status_update',\n      isRegularMessage: true,\n      raw: body\n    }\n  };\n}\n\n// This is an encrypted Flow request - decrypt it\nfunction decryptRequest(body) {\n  const { encrypted_aes_key, encrypted_flow_data, initial_vector } = body;\n\n  const decryptedAesKey = crypto.privateDecrypt(\n    {\n      key: privateKey,\n      passphrase: PASSPHRASE,\n      oaepHash: 'sha256',\n      padding: crypto.constants.RSA_PKCS1_OAEP_PADDING\n    },\n    Buffer.from(encrypted_aes_key, 'base64')\n  );\n\n  const flowDataBuffer = Buffer.from(encrypted_flow_data, 'base64');\n  const ivBuffer = Buffer.from(initial_vector, 'base64');\n\n  const authTag = flowDataBuffer.subarray(-16);\n  const encryptedData = flowDataBuffer.subarray(0, -16);\n\n  const decipher = crypto.createDecipheriv('aes-128-gcm', decryptedAesKey, ivBuffer);\n  decipher.setAuthTag(authTag);\n\n  const decrypted = Buffer.concat([\n    decipher.update(encryptedData),\n    decipher.final()\n  ]);\n\n  return {\n    decryptedData: JSON.parse(decrypted.toString('utf8')),\n    aesKey: decryptedAesKey,\n    iv: ivBuffer\n  };\n}\n\nfunction encryptResponse(response, aesKey, iv) {\n  const flippedIv = Buffer.alloc(iv.length);\n  for (let i = 0; i < iv.length; i++) {\n    flippedIv[i] = ~iv[i] & 0xff;\n  }\n  const cipher = crypto.createCipheriv('aes-128-gcm', aesKey, flippedIv);\n  const encrypted = Buffer.concat([\n    cipher.update(JSON.stringify(response), 'utf8'),\n    cipher.final(),\n    cipher.getAuthTag()\n  ]);\n  return encrypted.toString('base64');\n}\n\nconst { decryptedData, aesKey, iv } = decryptRequest(body);\n\nif (decryptedData.action === 'ping') {\n  const pingResponse = {\n    version: decryptedData.version,\n    data: { status: 'active' }\n  };\n\n  return {\n    json: {\n      action: 'ping',\n      response: encryptResponse(pingResponse, aesKey, iv),\n      isRegularMessage: false\n    }\n  };\n}\n\nreturn {\n  json: {\n    decrypted: decryptedData,\n    action: decryptedData.action,\n    screen: decryptedData.screen,\n    data: decryptedData.data || {},\n    flow_token: decryptedData.flow_token,\n    aesKeyBase64: aesKey.toString('base64'),\n    ivBase64: iv.toString('base64'),\n    version: decryptedData.version,\n    isRegularMessage: false\n  }\n};"
      },
      "id": "c9cee6c6-1dac-4080-bc4f-c7c170a80246",
      "name": "Decrypt WhatsApp Request1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1088, 2032]
    },
    {
      "parameters": {
        "content": "## Whatsapp Single Entry Point: Webhook\n\nBecause of Meta's Single App to Single Webhook restriction, all messages come through the same webhook (GET / POST). \n\nConditional statements after this are then used to filter what happens",
        "height": 480,
        "width": 416,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [832, 1776],
      "typeVersion": 1,
      "id": "ee56d47d-6dc4-4851-a9ef-755819009342",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## WhatsApp Flow: Booking\n\nFlows are attached to messaging templates and are activated by the WhatsApp User\n\nAt each stage of the WhatsApp Flow, data is being fed to the experience. E.g Services Available, Calendar Availability, & Confirmation. On complete - a booking is made into Airtable and a Calendar Event is made\n\n",
        "height": 1280,
        "width": 3072,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [1456, 2608],
      "typeVersion": 1,
      "id": "df9dc532-883f-45ce-8581-6700f73122dc",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Intelligent Templating Assignment & Responses\n\nWe want to be able to fire off our template messages and flows that make sense to the customers requests. If they want more information, we can send them a link to the services website.\nIf they want to book - then a Calendar Flow, a quote, then a quote flow. ",
        "height": 656,
        "width": 1296,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [1472, 1856],
      "typeVersion": 1,
      "id": "46b82029-9a1d-474d-a6c0-77c3692f145a",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Utility: WhatsApp Webhook Check\nRequired for setting up your n8n webhook in Meta",
        "height": 304,
        "width": 688,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [1488, 1504],
      "typeVersion": 1,
      "id": "f0797c19-85af-4eac-b72c-228cd0feb641",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.response }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "c080f1ae-9a91-4dfc-ae06-2dfbe3f255d8",
      "name": "Return Ping Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1744, 2784]
    },
    {
      "parameters": {
        "jsCode": "// Handle INIT action - return initial screen data\nconst formatDate = (d) => d.toISOString().split('T')[0];\nconst today = new Date();\nconst maxDate = new Date();\nmaxDate.setDate(today.getDate() + 30);\n\nconst response = {\n  version: $json.version || '3.0',\n  screen: 'SERVICE_SELECTION',\n  data: {\n    consultation_types: [\n      { id: '30_min', title: '30 Minute Call' },\n      { id: '60_min', title: '60 Minute Call' }\n    ],\n    min_date: formatDate(today),\n    max_date: formatDate(maxDate)\n  }\n};\n\nreturn {\n  json: {\n    response,\n    aesKeyBase64: $json.aesKeyBase64,\n    ivBase64: $json.ivBase64\n  }\n};"
      },
      "id": "4771eb69-c28b-47e4-b431-ccfb19612c60",
      "name": "Handle INIT - Return Consultation Types",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1744, 2944]
    },
    {
      "parameters": {
        "jsCode": "// Handle confirm booking - return CONFIRMATION screen data\nconst data = $json.data;\nconst aesKeyBase64 = $json.aesKeyBase64;\nconst ivBase64 = $json.ivBase64;\nconst version = $json.version;\n\nconst response = {\n  version: version || '3.0',\n  screen: 'CONFIRMATION',\n  data: {\n    customer_name: data.customer_name,\n    customer_email: data.customer_email || '',\n    consultation_type: data.consultation_type,\n    consultation_type_label: data.consultation_type_label,\n    appointment_date: data.appointment_date,\n    appointment_time: data.appointment_time\n  }\n};\n\nreturn {\n  json: {\n    response,\n    aesKeyBase64,\n    ivBase64\n  }\n};"
      },
      "id": "7bfebfc8-2d23-4cd1-8612-a56e6aa8a689",
      "name": "Handle Confirm Booking",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1776, 3488]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v23.0/{{WHATSAPP_PHONE_NUMBER_ID}}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Check Customer Exists1').first().json.flowToken }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"Your consultation has been confirmed!\\n\\n{{ $('Check Customer Exists1').first().json.booking.consultationLabel }}\\nDate: {{ $('Check Customer Exists1').first().json.booking.appointmentDateDisplay }}\\nTime: {{ $('Check Customer Exists1').first().json.booking.appointmentTimeDisplay }}\\n\\nWe look forward to speaking with you!\"\n  }\n}",
        "options": {}
      },
      "id": "a5968c44-9424-4fe4-8e61-509704f41665",
      "name": "Send WhatsApp Confirmation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3568, 3696],
      "credentials": {
        "httpHeaderAuth": {
          "id": "{{WHATSAPP_HEADER_AUTH_CREDENTIAL_ID}}",
          "name": "WhatsApp Biz"
        },
        "httpBearerAuth": {
          "id": "{{WHATSAPP_BEARER_AUTH_CREDENTIAL_ID}}",
          "name": "WhatsApp Test"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Merge all paths to encryption node\nreturn $input.all();"
      },
      "id": "408a53e8-f97f-42de-ba8e-bfa75041d2a9",
      "name": "Merge Paths",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3920, 3296]
    },
    {
      "parameters": {
        "jsCode": "// WhatsApp Flow Encryption - AES-128-GCM\nconst crypto = require('crypto');\n\nfunction encryptResponse(response, aesKeyBase64, ivBase64) {\n  const aesKey = Buffer.from(aesKeyBase64, 'base64');\n  const iv = Buffer.from(ivBase64, 'base64');\n  \n  const flippedIv = Buffer.alloc(iv.length);\n  for (let i = 0; i < iv.length; i++) {\n    flippedIv[i] = ~iv[i] & 0xff;\n  }\n  \n  const cipher = crypto.createCipheriv('aes-128-gcm', aesKey, flippedIv);\n  \n  const responseStr = JSON.stringify(response);\n  const encrypted = Buffer.concat([\n    cipher.update(responseStr, 'utf8'),\n    cipher.final(),\n    cipher.getAuthTag()\n  ]);\n  \n  return encrypted.toString('base64');\n}\n\nconst { response, aesKeyBase64, ivBase64 } = $json;\nconst encryptedResponse = encryptResponse(response, aesKeyBase64, ivBase64);\n\nreturn {\n  json: {\n    encryptedResponse\n  }\n};"
      },
      "id": "56969666-7c3b-41f1-a11e-891c8eb4c114",
      "name": "Encrypt Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4128, 3296]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.encryptedResponse }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/plain"
              }
            ]
          }
        }
      },
      "id": "0ed0ad9f-ecf3-4f8d-860a-e23ccbf88cdd",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [4352, 3296]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "ping",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "993ed1e9-64a4-427a-b8fc-5256edde1946"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PING"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "INIT",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "007df454-eab1-4b7a-9e1d-e82781e8e9a7"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "INIT"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "data_exchange",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "46e256b4-e275-43a4-9f6d-d33c338d463a"
                  },
                  {
                    "leftValue": "={{ $json.screen }}",
                    "rightValue": "SERVICE_SELECTION",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "64878584-3e5b-40a1-a0bf-ee11cf51f416"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SERVICE_SELECTION"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "data_exchange",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "1a7e63d4-55c8-4ebb-b305-432c69198888"
                  },
                  {
                    "leftValue": "={{ $json.screen }}",
                    "rightValue": "DATE_TIME_SELECTION",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "664fd262-0803-42ef-96f7-02b6ab477460"
                  },
                  {
                    "leftValue": "={{ $json.data.action_type }}",
                    "rightValue": "refresh_slots",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "880d3796-67fb-4ea7-860e-ef27172ee346"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "DATE_REFRESH"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "data_exchange",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "926d9d18-05bc-4156-861e-d3960ee07dca"
                  },
                  {
                    "leftValue": "={{ $json.screen }}",
                    "rightValue": "DATE_TIME_SELECTION",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "73939400-1292-4b36-b681-1d1c8aa0486a"
                  },
                  {
                    "leftValue": "={{ $json.data.action_type }}",
                    "rightValue": "confirm_booking",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "72b44982-b940-4b53-a1c7-f1766b9958d5"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CONFIRM_BOOKING"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "data_exchange",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ea4498c4-fb40-492a-8703-6bec94c1fde9"
                  },
                  {
                    "leftValue": "={{ $json.screen }}",
                    "rightValue": "CONFIRMATION",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b1234567-1234-1234-1234-123456789abc"
                  },
                  {
                    "leftValue": "={{ $json.data.action_type }}",
                    "rightValue": "complete_booking",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c1234567-1234-1234-1234-123456789def"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "COMPLETE_BOOKING"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "id": "0fb7a063-b0df-4fef-a992-2a7026f6f6e4",
      "name": "Switch on Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1520, 2800]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "interactive",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b2fd458a-376d-4b87-817e-a92151d3b3ff"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "INTERACTIVE"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "903cf5bf-4180-40da-a7eb-6dd58b37a1b1",
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "status_updated",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "STATUS_UPDATE"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "bd24999f-353e-40b9-b64c-b6e6c04ac51e",
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "text_message",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "TEXT_MESSAGE"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [1584, 2000],
      "id": "44d0dc8d-a507-40d0-82c3-a862faf99468",
      "name": "Switch"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [1792, 2304],
      "id": "d761d628-5e68-4bcd-95a9-ea78a780fa30",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "{{OPENAI_API_CREDENTIAL_ID}}",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "whatsapp_consult_template - use when a user's intent is to book an appointment",
        "method": "POST",
        "url": "https://graph.facebook.com/v23.0/{{WHATSAPP_PHONE_NUMBER_ID}}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Is Regular Message?').item.json.from }}\",\n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"personal_consultation_booking\",\n    \"language\": {\n      \"code\": \"en\"\n    },\n    \"components\": [\n      {\n        \"type\": \"button\",\n        \"sub_type\": \"flow\",\n        \"index\": \"0\",\n        \"parameters\": [\n          {\n            \"type\": \"action\",\n            \"action\": {\n              \"flow_token\": \"{{ $json.from }}\"\n            }\n          }\n        ]\n      }\n    ]\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [2144, 2304],
      "id": "9e8ebff7-c5f3-4110-9a4e-f3541f8ce049",
      "name": "whatsapp_consult_template",
      "credentials": {
        "httpBearerAuth": {
          "id": "{{WHATSAPP_BEARER_AUTH_CREDENTIAL_ID}}",
          "name": "WhatsApp Test"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "**whatsapp_message**\nUsage: When the user asks a questions, or you require more information to understand their intent. You can reply",
        "method": "POST",
        "url": "https://graph.facebook.com/v23.0/{{WHATSAPP_PHONE_NUMBER_ID}}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"messaging_product\": \"whatsapp\",    \n    \"recipient_type\": \"individual\",\n    \"to\": \"{{ $('Is Regular Message?').item.json.from }}\",\n    \"type\": \"text\",\n    \"text\": {\n        \"preview_url\": false,\n        \"body\": \"{{ $fromAI('JSON', ``, 'json') }}\"\n    }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [1968, 2304],
      "id": "4a739129-4e60-42b8-8f80-acd47dc4df2e",
      "name": "whatsapp_message_tool",
      "credentials": {
        "httpBearerAuth": {
          "id": "{{WHATSAPP_BEARER_AUTH_CREDENTIAL_ID}}",
          "name": "WhatsApp Test"
        }
      }
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "search",
        "base": {
          "__rl": true,
          "mode": "url",
          "value": "=https://airtable.com/{{AIRTABLE_BASE_ID}}",
          "__regex": "https://airtable.com/([a-zA-Z0-9]{2,})"
        },
        "table": {
          "__rl": true,
          "value": "{{AIRTABLE_CUSTOMERS_TABLE_ID}}",
          "mode": "list",
          "cachedResultName": "Customers",
          "cachedResultUrl": "https://airtable.com/{{AIRTABLE_BASE_ID}}/{{AIRTABLE_CUSTOMERS_TABLE_ID}}"
        },
        "filterByFormula": "={customer_email}='{{ $json.booking.customerEmail }}'",
        "options": {}
      },
      "id": "a8137fdd-7e70-4376-99b7-3f02a50f5b2a",
      "name": "Search Existing Customer",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [1856, 3696],
      "alwaysOutputData": true,
      "credentials": {
        "airtableOAuth2Api": {
          "id": "{{AIRTABLE_OAUTH_CREDENTIAL_ID}}",
          "name": "[Your Company] Airtable"
        }
      },
      "onError": "continueRegularOutput",
      "notes": "UPDATED: Now searches by customer_email instead of phone_number"
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "search",
        "base": {
          "__rl": true,
          "mode": "url",
          "value": "=https://airtable.com/{{AIRTABLE_BASE_ID}}",
          "__regex": "https://airtable.com/([a-zA-Z0-9]{2,})"
        },
        "table": {
          "__rl": true,
          "value": "{{AIRTABLE_SERVICES_TABLE_ID}}",
          "mode": "list",
          "cachedResultName": "Services",
          "cachedResultUrl": "https://airtable.com/{{AIRTABLE_BASE_ID}}/{{AIRTABLE_SERVICES_TABLE_ID}}"
        },
        "filterByFormula": "={service_key}='{{ $('Check Customer Exists1').first().json.booking.serviceKey }}'",
        "options": {
          "fields": ["service_name"]
        }
      },
      "id": "570db6d6-722b-4d1f-b62e-9d2d85a743d1",
      "name": "Lookup Service",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [2528, 3696],
      "credentials": {
        "airtableOAuth2Api": {
          "id": "{{AIRTABLE_OAUTH_CREDENTIAL_ID}}",
          "name": "[Your Company] Airtable"
        }
      },
      "notes": "NEW: Lookup service record by service_key (30_min or 60_min) to get record ID for linking"
    },
    {
      "parameters": {
        "jsCode": "// Prepare booking data for Airtable and Calendar\nconst data = $json.data;\n\n// Parse YYYY-MM-DD date string\nconst appointmentDate = new Date(data.appointment_date + 'T00:00:00');\nconst [hours, minutes] = data.appointment_time.split(':').map(Number);\n\nappointmentDate.setHours(hours, minutes, 0, 0);\n\nconst duration = data.consultation_type === '60_min' ? 60 : 30;\nconst endTime = new Date(appointmentDate);\nendTime.setMinutes(endTime.getMinutes() + duration);\n\nconst dateStr = appointmentDate.toLocaleDateString('en-US', {\n  weekday: 'long',\n  year: 'numeric',\n  month: 'long',\n  day: 'numeric'\n});\n\nconst timeStr = appointmentDate.toLocaleTimeString('en-US', {\n  hour: 'numeric',\n  minute: '2-digit',\n  hour12: true\n});\n\nreturn {\n  json: {\n    ...$json,\n    booking: {\n      customerName: data.customer_name,\n      customerEmail: data.customer_email || '',\n      consultationType: data.consultation_type,\n      consultationLabel: data.consultation_type_label,\n      serviceKey: data.consultation_type,\n      eventDate: data.appointment_date,\n      eventTime: data.appointment_time,\n      appointmentDateTime: appointmentDate.toISOString(),\n      appointmentEndTime: endTime.toISOString(),\n      appointmentDateDisplay: dateStr,\n      appointmentTimeDisplay: timeStr,\n      duration: duration,\n      smsReminder: data.sms_reminder || false,\n      emailReminder: data.email_reminder || false\n    }\n  }\n};"
      },
      "id": "1592a145-fcf0-429b-9c6b-d87df4db4e40",
      "name": "Prepare Booking Data1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1648, 3696],
      "notes": "UPDATED: Added serviceKey, eventDate, eventTime fields for new schema"
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "create",
        "base": {
          "__rl": true,
          "mode": "url",
          "value": "=https://airtable.com/{{AIRTABLE_BASE_ID}}",
          "__regex": "https://airtable.com/([a-zA-Z0-9]{2,})"
        },
        "table": {
          "__rl": true,
          "value": "{{AIRTABLE_BOOKINGS_TABLE_ID}}",
          "mode": "list",
          "cachedResultName": "Bookings",
          "cachedResultUrl": "https://airtable.com/{{AIRTABLE_BASE_ID}}/{{AIRTABLE_BOOKINGS_TABLE_ID}}"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "customer_email": "={{ $('Upsert Customer in Airtable').item.json.fields.customer_email }}",
            "event_date": "={{ $('Prepare Booking Data1').item.json.decrypted.data.appointment_date }}",
            "event_time": "={{ $('Prepare Booking Data1').item.json.decrypted.data.appointment_time }}",
            "created_at": "={{ $now }}",
            "booking_status": "Pending"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "booking_id",
              "displayName": "booking_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "customer_email",
              "displayName": "customer_email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "service_type",
              "displayName": "service_type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "calendar_event_id",
              "displayName": "calendar_event_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "event_date",
              "displayName": "event_date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "event_time",
              "displayName": "event_time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "booking_status",
              "displayName": "booking_status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pending",
                  "value": "Pending"
                },
                {
                  "name": "Confirmed",
                  "value": "Confirmed"
                },
                {
                  "name": "Cancelled",
                  "value": "Cancelled"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "special_requests",
              "displayName": "special_requests",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "id": "78e8268d-9520-462a-aaa5-27246f5da393",
      "name": "Create Booking in Airtable1",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [2752, 3696],
      "credentials": {
        "airtableOAuth2Api": {
          "id": "{{AIRTABLE_OAUTH_CREDENTIAL_ID}}",
          "name": "[Your Company] Airtable"
        }
      },
      "notes": "UPDATED: customer_email (text), service_type (linked), event_date, event_time, booking_status, flow_token. Removed reminder fields."
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "update",
        "base": {
          "__rl": true,
          "mode": "url",
          "value": "=https://airtable.com/{{AIRTABLE_BASE_ID}}",
          "__regex": "https://airtable.com/([a-zA-Z0-9]{2,})"
        },
        "table": {
          "__rl": true,
          "value": "{{AIRTABLE_BOOKINGS_TABLE_ID}}",
          "mode": "list",
          "cachedResultName": "Bookings",
          "cachedResultUrl": "https://airtable.com/{{AIRTABLE_BASE_ID}}/{{AIRTABLE_BOOKINGS_TABLE_ID}}"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Create Booking in Airtable1').item.json.id }}",
            "calendar_event_id": "={{ $json.id }}",
            "booking_status": "Confirmed"
          },
          "matchingColumns": ["id"],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "booking_id",
              "displayName": "booking_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "customer_email",
              "displayName": "customer_email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "service_type",
              "displayName": "service_type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "calendar_event_id",
              "displayName": "calendar_event_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "event_date",
              "displayName": "event_date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "event_time",
              "displayName": "event_time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "booking_status",
              "displayName": "booking_status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pending",
                  "value": "Pending"
                },
                {
                  "name": "Confirmed",
                  "value": "Confirmed"
                },
                {
                  "name": "Cancelled",
                  "value": "Cancelled"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "special_requests",
              "displayName": "special_requests",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "d26d20f5-a6fe-46ef-b9a0-e02c722e1ead",
      "name": "Update Booking with Calendar ID1",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [3248, 3696],
      "credentials": {
        "airtableOAuth2Api": {
          "id": "{{AIRTABLE_OAUTH_CREDENTIAL_ID}}",
          "name": "[Your Company] Airtable"
        }
      },
      "notes": "UPDATED: status -> booking_status, now sets to 'Confirmed' after calendar event created"
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "upsert",
        "base": {
          "__rl": true,
          "mode": "url",
          "value": "=https://airtable.com/{{AIRTABLE_BASE_ID}}"
        },
        "table": {
          "__rl": true,
          "value": "{{AIRTABLE_CUSTOMERS_TABLE_ID}}",
          "mode": "list",
          "cachedResultName": "Customers",
          "cachedResultUrl": "https://airtable.com/{{AIRTABLE_BASE_ID}}/{{AIRTABLE_CUSTOMERS_TABLE_ID}}"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.existingCustomerId }}",
            "customer_name": "={{ $json.booking.customerName }}",
            "customer_email": "={{ $json.booking.customerEmail }}",
            "date_created": "={{ $now }}",
            "last_interaction": "={{ $now }}"
          },
          "matchingColumns": ["id"],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "customer_id",
              "displayName": "customer_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "customer_name",
              "displayName": "customer_name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "customer_email",
              "displayName": "customer_email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "customer_phone_number",
              "displayName": "customer_phone_number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "date_created",
              "displayName": "date_created",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_interaction",
              "displayName": "last_interaction",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Service Requests",
              "displayName": "Service Requests",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "id": "18ba850e-14f3-4b65-97de-31e095d39c2a",
      "name": "Upsert Customer in Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [2320, 3696],
      "credentials": {
        "airtableOAuth2Api": {
          "id": "{{AIRTABLE_OAUTH_CREDENTIAL_ID}}",
          "name": "[Your Company] Airtable"
        }
      },
      "notes": "UPDATED: Field names - customer_name, customer_email, customer_phone_number, date_created, last_interaction"
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/calendar/v3/calendars/{{ encodeURIComponent($json.calendarId) }}/events",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleCalendarOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "timeMin",
              "value": "={{ $json.timeMin }}"
            },
            {
              "name": "timeMax",
              "value": "={{ $json.timeMax }}"
            },
            {
              "name": "singleEvents",
              "value": "true"
            },
            {
              "name": "orderBy",
              "value": "startTime"
            },
            {
              "name": "maxResults",
              "value": "50"
            }
          ]
        },
        "options": {}
      },
      "id": "6cd998ff-6992-4b91-89fe-9da1b42e725f",
      "name": "Google Calendar Events (Date)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1984, 3312],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "{{GOOGLE_CALENDAR_CREDENTIAL_ID}}",
          "name": "[Your Company] Calendar"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Calculate slots for selected date using Events API (including pending/tentative)\nconst events = ($json.items || []).filter(e => e.status !== 'cancelled');\nconst prev = $('Prepare Date Refresh Request1').first().json;\nconst consultationType = prev.consultationType;\nconst selectedDateStr = prev.selectedDate;\nconst customerName = prev.customerName;\nconst customerEmail = prev.customerEmail;\nconst aesKeyBase64 = prev.aesKeyBase64;\nconst ivBase64 = prev.ivBase64;\nconst version = prev.version;\n\nconst slotDuration = consultationType === '60_min' ? 60 : 30;\nconst consultationLabel = consultationType === '60_min' ? '60 Minute Call' : '30 Minute Call';\n\nconst businessStart = 9;\nconst businessEnd = 17;\n\n// Convert events to busy time blocks\nconst busyTimes = events.map(event => {\n  // Handle all-day events\n  if (event.start.date) {\n    return {\n      start: new Date(event.start.date + 'T00:00:00'),\n      end: new Date(event.end.date + 'T00:00:00')\n    };\n  }\n  return {\n    start: new Date(event.start.dateTime),\n    end: new Date(event.end.dateTime)\n  };\n});\n\nconst selectedDate = new Date(selectedDateStr + 'T00:00:00');\nconst now = new Date();\nconst availableSlots = [];\n\nconst dayOfWeek = selectedDate.getDay();\nif (dayOfWeek !== 0 && dayOfWeek !== 6) {\n  for (let hour = businessStart; hour < businessEnd; hour++) {\n    for (let minute = 0; minute < 60; minute += 30) {\n      const slotEnd = hour + (minute + slotDuration) / 60;\n      if (slotEnd > businessEnd) continue;\n\n      const slotStart = new Date(selectedDate);\n      slotStart.setHours(hour, minute, 0, 0);\n\n      // Skip past slots\n      if (slotStart <= now) continue;\n\n      const slotEndTime = new Date(slotStart);\n      slotEndTime.setMinutes(slotEndTime.getMinutes() + slotDuration);\n\n      // Check for conflicts with any event (confirmed, tentative, etc.)\n      const isConflict = busyTimes.some(busy => {\n        return (slotStart < busy.end && slotEndTime > busy.start);\n      });\n\n      if (!isConflict) {\n        const timeStr = `${hour.toString().padStart(2, '0')}:${minute.toString().padStart(2, '0')}`;\n        const displayHour = hour > 12 ? hour - 12 : hour;\n        const ampm = hour >= 12 ? 'PM' : 'AM';\n        const displayMin = minute.toString().padStart(2, '0');\n\n        availableSlots.push({\n          id: timeStr,\n          title: `${displayHour}:${displayMin} ${ampm}`\n        });\n      }\n    }\n  }\n}\n\nconst formatDate = (d) => d.toISOString().split('T')[0];\nconst today = new Date();\nconst minDate = formatDate(today);\nconst maxDate = formatDate(new Date(today.getTime() + 30 * 24 * 60 * 60 * 1000));\n\nconst response = {\n  version: version || '3.0',\n  screen: 'DATE_TIME_SELECTION',\n  data: {\n    customer_name: customerName,\n    customer_email: customerEmail,\n    consultation_type: consultationType,\n    consultation_type_label: consultationLabel,\n    min_date: minDate,\n    max_date: maxDate,\n    available_slots: availableSlots\n  }\n};\n\nreturn {\n  json: {\n    response,\n    aesKeyBase64,\n    ivBase64\n  }\n};"
      },
      "id": "29dc9321-a71c-4b25-a260-091b85f489d6",
      "name": "Calculate Slots for Date",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2208, 3312]
    },
    {
      "parameters": {
        "jsCode": "// Prepare Google Calendar Events request for specific selected date\nconst selectedDate = $json.data.selected_date;\n\nconst date = new Date(selectedDate + 'T00:00:00');\n\nconst dayStart = new Date(date);\ndayStart.setHours(0, 0, 0, 0);\n\nconst dayEnd = new Date(date);\ndayEnd.setHours(23, 59, 59, 999);\n\nconst calendarId = $env.GOOGLE_CALENDAR_ID || 'primary';\n\nreturn {\n  json: {\n    ...$json,\n    selectedDate: selectedDate,\n    calendarId: calendarId,\n    timeMin: dayStart.toISOString(),\n    timeMax: dayEnd.toISOString(),\n    consultationType: $json.data.consultation_type,\n    customerName: $json.data.customer_name,\n    customerEmail: $json.data.customer_email || ''\n  }\n};"
      },
      "id": "8fd68115-3564-43b6-bb19-63133977c464",
      "name": "Prepare Date Refresh Request1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1776, 3312]
    },
    {
      "parameters": {
        "jsCode": "// Check if customer exists and prepare upsert data\nconst existingCustomers = $input.all();\nconst booking = $('Prepare Booking Data1').first().json.booking;\nconst flowToken = $('Prepare Booking Data1').first().json.flow_token;\nconst aesKeyBase64 = $('Prepare Booking Data1').first().json.aesKeyBase64;\nconst ivBase64 = $('Prepare Booking Data1').first().json.ivBase64;\nconst version = $('Prepare Booking Data1').first().json.version;\n\nconst customerExists = existingCustomers.length > 0 && existingCustomers[0].json.id;\nconst existingCustomerId = customerExists ? existingCustomers[0].json.id : null;\n\nreturn {\n  json: {\n    customerExists,\n    existingCustomerId,\n    booking,\n    flowToken,\n    aesKeyBase64,\n    ivBase64,\n    version,\n    customerData: {\n      customer_name: booking.customerName,\n      customer_email: booking.customerEmail,\n      customer_phone_number: flowToken,\n      date_created: new Date().toISOString().split('T')[0],\n      last_interaction: new Date().toISOString().split('T')[0]\n    }\n  }\n};"
      },
      "id": "17a3ff2c-bb10-4579-ba08-d8cee415b578",
      "name": "Check Customer Exists1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2080, 3696],
      "notes": "UPDATED: Field names changed to customer_name, customer_email, customer_phone_number, date_created, last_interaction"
    },
    {
      "parameters": {
        "jsCode": "// Prepare success response\nconst aesKeyBase64 = $('Check Customer Exists1').first().json.aesKeyBase64;\nconst ivBase64 = $('Check Customer Exists1').first().json.ivBase64;\nconst version = $('Check Customer Exists1').first().json.version;\n\nconst response = {\n  version: version || '3.0',\n  screen: 'SUCCESS',\n  data: {\n    extension_message_response: {\n      params: {\n        flow_token: $('Check Customer Exists1').first().json.flowToken,\n        booking_confirmed: true\n      }\n    }\n  }\n};\n\nreturn {\n  json: {\n    response,\n    aesKeyBase64,\n    ivBase64\n  }\n};"
      },
      "id": "e8107811-f684-42dc-8f7b-6eb8eec4f754",
      "name": "Prepare Success Response1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3936, 3680],
      "notes": "FIXED: Gets encryption keys from Check Customer Exists1 instead of Search Existing Customer"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=## Role & Goal\n\nYou are a helpful WhatsApp Assistant for [Your Company Name]. Your goal is to respond to customers and determine the best response or WhatsApp template to serve them. \n\n## Task\n\nYou are given a text message from a user. You will then aim to understand how to help them. Based on their response, you will serve up a WhatsApp template or a message\n\n## Tools\n\nYou have access to the following tools:\n\n**whatsapp_consult_template**\nAction: Sends a whatsapp template that allows a user to book an appointment\nUsage: When the user's intent is to book a meeting\n\n**whatsapp_message**\nAction: Sends a text message back to the user\nUsage: When the user asks a questions, or you require more information to understand their intent\n\n## Examples\n- If a user messages \"Hello\", you respond with a greeting and asking how can [Your Company Name] help\n- If a user's intent is to book a consult, you will use the 'whatsapp_consult_template' too\n\n## Rules\n- MUST NOT do anything other than provide 'text' to the whatsapp_message tool. It should not be an object just pure text.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [1792, 2112],
      "id": "1c1e73e4-3afe-4031-9884-011bc9323ecc",
      "name": "Whatsapp Agent"
    },
    {
      "parameters": {
        "jsCode": "// Prepare Google Calendar Events request for today only\n// Configure timezone to match your calendar\nconst TIMEZONE = 'Europe/Amsterdam';\n\nconst now = new Date();\n\n// Set timeMax to end of current day\nconst endOfDay = new Date(now);\nendOfDay.setHours(23, 59, 59, 999);\n\nconst calendarId = $env.GOOGLE_CALENDAR_ID || 'primary';\n\nreturn {\n  json: {\n    ...$json,\n    calendarId: calendarId,\n    timezone: TIMEZONE,\n    timeMin: now.toISOString(),\n    timeMax: endOfDay.toISOString(),\n    consultationType: $json.data.consultation_type,\n    customerName: $json.data.customer_name,\n    customerEmail: $json.data.customer_email || ''\n  }\n};"
      },
      "id": "e941f044-15b1-4fa4-8d88-b836967143f9",
      "name": "Prepare Calendar Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1776, 3152]
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/calendar/v3/calendars/{{ encodeURIComponent($json.calendarId) }}/events",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleCalendarOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "timeMin",
              "value": "={{ $json.timeMin }}"
            },
            {
              "name": "timeMax",
              "value": "={{ $json.timeMax }}"
            },
            {
              "name": "timeZone",
              "value": "={{ $json.timezone }}"
            },
            {
              "name": "singleEvents",
              "value": "true"
            },
            {
              "name": "orderBy",
              "value": "startTime"
            },
            {
              "name": "maxResults",
              "value": "250"
            }
          ]
        },
        "options": {}
      },
      "id": "58bd30de-ec80-4e4e-bdbb-e37733cea7f8",
      "name": "Google Calendar Events",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1984, 3152],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "{{GOOGLE_CALENDAR_CREDENTIAL_ID}}",
          "name": "[Your Company] Calendar"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Calculate available slots using calendar timezone\nconst TIMEZONE = $('Prepare Calendar Request').first().json.timezone;\nconst BUSINESS_START = 9;\nconst BUSINESS_END = 17;\n\nconst events = ($json.items || []).filter(e => e.status !== 'cancelled');\nconst consultationType = $('Prepare Calendar Request').first().json.consultationType;\nconst customerName = $('Prepare Calendar Request').first().json.customerName;\nconst customerEmail = $('Prepare Calendar Request').first().json.customerEmail;\nconst aesKeyBase64 = $('Prepare Calendar Request').first().json.aesKeyBase64;\nconst ivBase64 = $('Prepare Calendar Request').first().json.ivBase64;\nconst version = $('Prepare Calendar Request').first().json.version;\n\nconst slotDuration = consultationType === '60_min' ? 60 : 30;\nconst consultationLabel = consultationType === '60_min' ? '60 Minute Call' : '30 Minute Call';\n\n// Get current time in the calendar's timezone\nconst nowUtc = new Date();\nconst tzFormatter = new Intl.DateTimeFormat('en-CA', {\n  timeZone: TIMEZONE,\n  year: 'numeric', month: '2-digit', day: '2-digit',\n  hour: '2-digit', minute: '2-digit', hour12: false\n});\nconst parts = tzFormatter.formatToParts(nowUtc);\nconst getPart = (type) => parts.find(p => p.type === type)?.value;\nconst currentHour = parseInt(getPart('hour'), 10);\nconst currentMinute = parseInt(getPart('minute'), 10);\nconst currentDateStr = `${getPart('year')}-${getPart('month')}-${getPart('day')}`;\n\n// Convert events to busy time blocks\nconst busyTimes = events.map(event => {\n  if (event.start.date) {\n    return {\n      start: new Date(event.start.date + 'T00:00:00'),\n      end: new Date(event.end.date + 'T00:00:00')\n    };\n  }\n  return {\n    start: new Date(event.start.dateTime),\n    end: new Date(event.end.dateTime)\n  };\n});\n\nconst availableSlots = [];\n\n// Check today only for available slots (up to 8 slots)\nfor (let dayOffset = 0; dayOffset < 1 && availableSlots.length < 8; dayOffset++) {\n  const checkDate = new Date(nowUtc);\n  checkDate.setDate(checkDate.getDate() + dayOffset);\n  \n  // Get date string in timezone\n  const dateFormatter = new Intl.DateTimeFormat('en-CA', {\n    timeZone: TIMEZONE,\n    year: 'numeric', month: '2-digit', day: '2-digit'\n  });\n  const dateParts = dateFormatter.formatToParts(checkDate);\n  const getDatePart = (type) => dateParts.find(p => p.type === type)?.value;\n  const checkDateStr = `${getDatePart('year')}-${getDatePart('month')}-${getDatePart('day')}`;\n  \n  // Get day of week (0=Sun, 6=Sat)\n  const dayOfWeek = new Date(checkDateStr + 'T12:00:00').getDay();\n  if (dayOfWeek === 0 || dayOfWeek === 6) continue;\n\n  for (let hour = BUSINESS_START; hour < BUSINESS_END; hour++) {\n    for (let minute = 0; minute < 60; minute += 30) {\n      const slotEndHour = hour + Math.floor((minute + slotDuration) / 60);\n      const slotEndMin = (minute + slotDuration) % 60;\n      if (slotEndHour > BUSINESS_END || (slotEndHour === BUSINESS_END && slotEndMin > 0)) continue;\n\n      // Skip past slots for today\n      if (checkDateStr === currentDateStr) {\n        if (hour < currentHour || (hour === currentHour && minute <= currentMinute)) {\n          continue;\n        }\n      }\n\n      // Create slot times for conflict checking\n      const slotStartStr = `${checkDateStr}T${hour.toString().padStart(2, '0')}:${minute.toString().padStart(2, '0')}:00`;\n      const slotStart = new Date(slotStartStr);\n      const slotEnd = new Date(slotStart);\n      slotEnd.setMinutes(slotEnd.getMinutes() + slotDuration);\n\n      // Check for conflicts\n      const isConflict = busyTimes.some(busy => {\n        return (slotStart < busy.end && slotEnd > busy.start);\n      });\n\n      if (!isConflict && availableSlots.length < 8) {\n        const timeStr = `${hour.toString().padStart(2, '0')}:${minute.toString().padStart(2, '0')}`;\n        const displayHour = hour > 12 ? hour - 12 : hour;\n        const ampm = hour >= 12 ? 'PM' : 'AM';\n        const displayMin = minute.toString().padStart(2, '0');\n\n        availableSlots.push({\n          id: timeStr,\n          title: `${displayHour}:${displayMin} ${ampm}`\n        });\n      }\n    }\n  }\n}\n\nconst formatDate = (d) => {\n  const f = new Intl.DateTimeFormat('en-CA', {\n    timeZone: TIMEZONE,\n    year: 'numeric', month: '2-digit', day: '2-digit'\n  });\n  return f.format(d).split('/').join('-');\n};\n\nconst today = new Date();\nconst minDate = formatDate(today);\nconst maxDate = formatDate(new Date(today.getTime() + 30 * 24 * 60 * 60 * 1000));\n\nconst response = {\n  version: version || '3.0',\n  screen: 'DATE_TIME_SELECTION',\n  data: {\n    customer_name: customerName,\n    customer_email: customerEmail,\n    consultation_type: consultationType,\n    consultation_type_label: consultationLabel,\n    min_date: minDate,\n    max_date: maxDate,\n    available_slots: availableSlots\n  }\n};\n\nreturn {\n  json: {\n    response,\n    aesKeyBase64,\n    ivBase64\n  }\n};"
      },
      "id": "720eaccb-d8d8-4445-9e2a-bd01949da110",
      "name": "Calculate Available Slots",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2208, 3152]
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "{{GOOGLE_CALENDAR_ID}}",
          "mode": "list",
          "cachedResultName": "{{GOOGLE_CALENDAR_ID}}"
        },
        "start": "={{ $('Check Customer Exists1').first().json.booking.appointmentDateTime }}",
        "end": "={{ $('Check Customer Exists1').first().json.booking.appointmentEndTime }}",
        "additionalFields": {
          "attendees": ["={{ $json.fields.customer_email }}"],
          "description": "={{ $('Check Customer Exists1').first().json.booking.consultationLabel }} consultation with {{ $('Check Customer Exists1').first().json.booking.customerName }}",
          "guestsCanInviteOthers": true,
          "guestsCanSeeOtherGuests": true,
          "sendUpdates": "all",
          "summary": "=\"Consultation: {{ $('Check Customer Exists1').first().json.booking.customerName }}",
          "visibility": "default"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [2960, 3696],
      "id": "e24c78df-b7e5-46c5-a8e2-1e3f4a075299",
      "name": "Create an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "{{GOOGLE_CALENDAR_CREDENTIAL_ID}}",
          "name": "[Your Company] Calendar"
        }
      }
    },
    {
      "parameters": {
        "content": "## WhatsApp Flow JSON\nCopy and paste this flow into WhatsAp Flow builder for a simple 30 / 60 min services\n```json\n{\n  \"version\": \"6.0\",\n  \"data_api_version\": \"3.0\",\n  \"routing_model\": {\n    \"SERVICE_SELECTION\": [\"DATE_TIME_SELECTION\"],\n    \"DATE_TIME_SELECTION\": [\"CONFIRMATION\"],\n    \"CONFIRMATION\": []\n  },\n  \"screens\": [\n    {\n      \"id\": \"SERVICE_SELECTION\",\n      \"title\": \"Book a Consultation\",\n      \"data\": {\n        \"consultation_types\": {\n          \"type\": \"array\",\n          \"items\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"id\": { \"type\": \"string\" },\n              \"title\": { \"type\": \"string\" }\n            }\n          },\n          \"__example__\": [\n            { \"id\": \"30_min\", \"title\": \"30 Minute Call\" },\n            { \"id\": \"60_min\", \"title\": \"60 Minute Call\" }\n          ]\n        }\n      },\n      \"layout\": {\n        \"type\": \"SingleColumnLayout\",\n        \"children\": [\n          {\n            \"type\": \"TextHeading\",\n            \"text\": \"Personal Business Consultation\"\n          },\n          {\n            \"type\": \"TextBody\",\n            \"text\": \"Please select your consultation type and provide your details.\"\n          },\n          {\n            \"type\": \"Form\",\n            \"name\": \"service_form\",\n            \"children\": [\n              {\n                \"type\": \"Dropdown\",\n                \"name\": \"consultation_type\",\n                \"label\": \"Type\",\n                \"required\": true,\n                \"data-source\": \"${data.consultation_types}\"\n              },\n              {\n                \"type\": \"TextInput\",\n                \"name\": \"customer_name\",\n                \"label\": \"Full Name\",\n                \"required\": true,\n                \"input-type\": \"text\",\n                \"helper-text\": \"Enter your full name\"\n              },\n              {\n                \"type\": \"TextInput\",\n                \"name\": \"customer_email\",\n                \"label\": \"Email\",\n                \"required\": true,\n                \"input-type\": \"email\",\n                \"helper-text\": \"We'll send a confirmation to this email\"\n              }\n            ]\n          },\n          {\n            \"type\": \"Footer\",\n            \"label\": \"Select Date & Time\",\n            \"on-click-action\": {\n              \"name\": \"data_exchange\",\n              \"payload\": {\n                \"consultation_type\": \"${form.consultation_type}\",\n                \"customer_name\": \"${form.customer_name}\",\n                \"customer_email\": \"${form.customer_email}\"\n              }\n            }\n          }\n        ]\n      }\n    },\n    {\n      \"id\": \"DATE_TIME_SELECTION\",\n      \"title\": \"Select Date & Time\",\n      \"data\": {\n        \"customer_name\": {\n          \"type\": \"string\",\n          \"__example__\": \"John Doe\"\n        },\n        \"consultation_type\": {\n          \"type\": \"string\",\n          \"__example__\": \"30_min\"\n        },\n        \"consultation_type_label\": {\n          \"type\": \"string\",\n          \"__example__\": \"30 Minute Call\"\n        },\n        \"customer_email\": {\n          \"type\": \"string\",\n          \"__example__\": \"john@example.com\"\n        },\n        \"min_date\": {\n          \"type\": \"string\",\n          \"__example__\": \"2025-01-15\"\n        },\n        \"max_date\": {\n          \"type\": \"string\",\n          \"__example__\": \"2025-02-14\"\n        },\n        \"available_slots\": {\n          \"type\": \"array\",\n          \"items\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"id\": { \"type\": \"string\" },\n              \"title\": { \"type\": \"string\" }\n            }\n          },\n          \"__example__\": [\n            { \"id\": \"09:00\", \"title\": \"9:00 AM\" },\n            { \"id\": \"10:00\", \"title\": \"10:00 AM\" },\n            { \"id\": \"11:00\", \"title\": \"11:00 AM\" },\n            { \"id\": \"14:00\", \"title\": \"2:00 PM\" },\n            { \"id\": \"15:00\", \"title\": \"3:00 PM\" }\n          ]\n        }\n      },\n      \"layout\": {\n        \"type\": \"SingleColumnLayout\",\n        \"children\": [\n          {\n            \"type\": \"TextHeading\",\n            \"text\": \"Choose Your Appointment\"\n          },\n          {\n            \"type\": \"TextBody\",\n            \"text\": \"Select a date and available time slot for your consultation.\"\n          },\n          {\n            \"type\": \"Form\",\n            \"name\": \"datetime_form\",\n            \"children\": [\n              {\n                \"type\": \"DatePicker\",\n                \"name\": \"appointment_date\",\n                \"label\": \"Date\",\n                \"required\": true,\n                \"min-date\": \"${data.min_date}\",\n                \"max-date\": \"${data.max_date}\",\n                \"helper-text\": \"Select a date within the next 30 days\",\n                \"on-select-action\": {\n                  \"name\": \"data_exchange\",\n                  \"payload\": {\n                    \"selected_date\": \"${form.appointment_date}\",\n                    \"consultation_type\": \"${data.consultation_type}\",\n                    \"customer_name\": \"${data.customer_name}\",\n                    \"customer_email\": \"${data.customer_email}\",\n                    \"action_type\": \"refresh_slots\"\n                  }\n                }\n              },\n              {\n                \"type\": \"Dropdown\",\n                \"name\": \"appointment_time\",\n                \"label\": \"Time\",\n                \"required\": true,\n                \"data-source\": \"${data.available_slots}\"\n              }\n            ]\n          },\n          {\n            \"type\": \"Footer\",\n            \"label\": \"Review Booking\",\n            \"on-click-action\": {\n              \"name\": \"data_exchange\",\n              \"payload\": {\n                \"customer_name\": \"${data.customer_name}\",\n                \"customer_email\": \"${data.customer_email}\",\n                \"consultation_type\": \"${data.consultation_type}\",\n                \"consultation_type_label\": \"${data.consultation_type_label}\",\n                \"appointment_date\": \"${form.appointment_date}\",\n                \"appointment_time\": \"${form.appointment_time}\",\n                \"action_type\": \"confirm_booking\"\n              }\n            }\n          }\n        ]\n      }\n    },\n    {\n      \"id\": \"CONFIRMATION\",\n      \"title\": \"Confirm Booking\",\n      \"terminal\": true,\n      \"data\": {\n        \"customer_name\": {\n          \"type\": \"string\",\n          \"__example__\": \"John Doe\"\n        },\n        \"customer_email\": {\n          \"type\": \"string\",\n          \"__example__\": \"john@example.com\"\n        },\n        \"consultation_type\": {\n          \"type\": \"string\",\n          \"__example__\": \"30_min\"\n        },\n        \"consultation_type_label\": {\n          \"type\": \"string\",\n          \"__example__\": \"30 Minute Call\"\n        },\n        \"appointment_date\": {\n          \"type\": \"string\",\n          \"__example__\": \"2025-01-15\"\n        },\n        \"appointment_time\": {\n          \"type\": \"string\",\n          \"__example__\": \"10:00\"\n        }\n      },\n      \"layout\": {\n        \"type\": \"SingleColumnLayout\",\n        \"children\": [\n          {\n            \"type\": \"TextHeading\",\n            \"text\": \"Booking Summary\"\n          },\n          {\n            \"type\": \"TextSubheading\",\n            \"text\": \"Please review your booking details\"\n          },\n          {\n            \"type\": \"TextCaption\",\n            \"text\": \"Name\"\n          },\n          {\n            \"type\": \"TextBody\",\n            \"text\": \"${data.customer_name}\"\n          },\n          {\n            \"type\": \"TextCaption\",\n            \"text\": \"Consultation\"\n          },\n          {\n            \"type\": \"TextBody\",\n            \"text\": \"${data.consultation_type_label}\"\n          },\n          {\n            \"type\": \"TextCaption\",\n            \"text\": \"Date\"\n          },\n          {\n            \"type\": \"TextBody\",\n            \"text\": \"${data.appointment_date}\"\n          },\n          {\n            \"type\": \"TextCaption\",\n            \"text\": \"Time\"\n          },\n          {\n            \"type\": \"TextBody\",\n            \"text\": \"${data.appointment_time}\"\n          },\n          {\n            \"type\": \"Form\",\n            \"name\": \"confirmation_form\",\n            \"children\": [\n              {\n                \"type\": \"OptIn\",\n                \"name\": \"sms_reminder\",\n                \"label\": \"Send me SMS reminders\",\n                \"required\": false\n              },\n              {\n                \"type\": \"OptIn\",\n                \"name\": \"email_reminder\",\n                \"label\": \"Send me email reminders\",\n                \"required\": false\n              }\n            ]\n          },\n          {\n            \"type\": \"Footer\",\n            \"label\": \"Confirm Booking\",\n            \"on-click-action\": {\n              \"name\": \"data_exchange\",\n              \"payload\": {\n                \"customer_name\": \"${data.customer_name}\",\n                \"customer_email\": \"${data.customer_email}\",\n                \"consultation_type\": \"${data.consultation_type}\",\n                \"consultation_type_label\": \"${data.consultation_type_label}\",\n                \"appointment_date\": \"${data.appointment_date}\",\n                \"appointment_time\": \"${data.appointment_time}\",\n                \"sms_reminder\": \"${form.sms_reminder}\",\n                \"email_reminder\": \"${form.email_reminder}\",\n                \"action_type\": \"complete_booking\"\n              }\n            }\n          }\n        ]\n      }\n    }\n  ]\n}\n```",
        "height": 656,
        "width": 800
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [2784, 1856],
      "typeVersion": 1,
      "id": "b3eb4dd4-5f4b-452a-97d6-742af9b9189b",
      "name": "Sticky Note3"
    }
  ],
  "connections": {
    "GET: Verify Webhook": {
      "main": [
        [
          {
            "node": "Verify Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Token": {
      "main": [
        [
          {
            "node": "Return Challenge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Regular Message?": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch on Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST: Receive Messages1": {
      "main": [
        [
          {
            "node": "Decrypt WhatsApp Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decrypt WhatsApp Request1": {
      "main": [
        [
          {
            "node": "Is Regular Message?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle INIT - Return Consultation Types": {
      "main": [
        [
          {
            "node": "Merge Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Confirm Booking": {
      "main": [
        [
          {
            "node": "Merge Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Confirmation": {
      "main": [
        [
          {
            "node": "Prepare Success Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Paths": {
      "main": [
        [
          {
            "node": "Encrypt Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Encrypt Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch on Action": {
      "main": [
        [
          {
            "node": "Return Ping Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle INIT - Return Consultation Types",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Calendar Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Date Refresh Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Confirm Booking",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Booking Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Return 200 OK (Regular Message)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return 200 OK (Regular Message)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Whatsapp Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Whatsapp Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "whatsapp_consult_template": {
      "ai_tool": [
        [
          {
            "node": "Whatsapp Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "whatsapp_message_tool": {
      "ai_tool": [
        [
          {
            "node": "Whatsapp Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search Existing Customer": {
      "main": [
        [
          {
            "node": "Check Customer Exists1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Service": {
      "main": [
        [
          {
            "node": "Create Booking in Airtable1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Booking Data1": {
      "main": [
        [
          {
            "node": "Search Existing Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Booking in Airtable1": {
      "main": [
        [
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Booking with Calendar ID1": {
      "main": [
        [
          {
            "node": "Send WhatsApp Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Customer in Airtable": {
      "main": [
        [
          {
            "node": "Lookup Service",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar Events (Date)": {
      "main": [
        [
          {
            "node": "Calculate Slots for Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Slots for Date": {
      "main": [
        [
          {
            "node": "Merge Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Date Refresh Request1": {
      "main": [
        [
          {
            "node": "Google Calendar Events (Date)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Customer Exists1": {
      "main": [
        [
          {
            "node": "Upsert Customer in Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Success Response1": {
      "main": [
        [
          {
            "node": "Merge Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Whatsapp Agent": {
      "main": [
        [
          {
            "node": "Return 200 OK (Regular Message)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Calendar Request": {
      "main": [
        [
          {
            "node": "Google Calendar Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar Events": {
      "main": [
        [
          {
            "node": "Calculate Available Slots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Available Slots": {
      "main": [
        [
          {
            "node": "Merge Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event": {
      "main": [
        [
          {
            "node": "Update Booking with Calendar ID1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": ""
  }
}
