AttioB2BLeadEnrichment/attiob2bleadenrichment.json
{
  "name": "B2B Lead Enrichment - Attio CRM",
  "nodes": [
    {
      "parameters": {
        "content": "## Business Outcome\n- Reduce the time spent by BDRs researching and enriching CRM leads\n- Reinvest that time in cultivating and building relationships with clients\n\n",
        "height": 128,
        "width": 592,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -48,
        -400
      ],
      "typeVersion": 1,
      "id": "92b8a366-d717-47c8-91ba-b6f0ed3df9cb",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## System Outcomes\n- BDRs need to have trust in the outputs\n- It has minimal % chance of creating poor future moments between BDRs & Leads\n- It achieves human equivalence of a BDR trying to *quickly* complete enrichment\n- Fall back systems that give it the optimal chance to enrich\n- Fall back and graceful error handling when services are down or information can't be collected\n\n",
        "height": 224,
        "width": 592,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        560,
        -496
      ],
      "typeVersion": 1,
      "id": "e88a10c6-6379-4598-ac07-14a2c2caf541",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# B2B Lead Enrichment in Attio CRM\n",
        "height": 80,
        "width": 592,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -48,
        -496
      ],
      "typeVersion": 1,
      "id": "40498cf0-6fbd-468f-9388-b1afbc5ee08e",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "### Direct Metric\n*Avg Time BDR Spent Enriching Leads*\n- Baseline: x hours per week \n- Target: x hours per week \n- Delta: x hours per week\n\n\n",
        "height": 144,
        "width": 592,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -48,
        -160
      ],
      "typeVersion": 1,
      "id": "b91b3d2c-ae8f-41b0-9681-0af03803c21e",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "### Proxy / Lagging Metric\n*Delta Opportunities Won Post Implementation*\n*Avg Time BDR Spent Cultivating Leads*\n*Avg Deal Size Delta Post Implementation*\n\n\n",
        "height": 144,
        "width": 592,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        560,
        -160
      ],
      "typeVersion": 1,
      "id": "7b8475c1-6fc0-4d31-9f39-707f25ff9e8a",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## What Does Success Look Like",
        "height": 80,
        "width": 1200,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -48,
        -256
      ],
      "typeVersion": 1,
      "id": "9adf1c04-3ffd-4458-93be-393b4d4fa6fd",
      "name": "Sticky Note5"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -96,
        192
      ],
      "id": "0c676211-8a7e-4aff-9f06-18ada175d801",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fb53582b-a3a7-4e8d-a73e-413f3a4283dc",
              "name": "id",
              "value": "={{ $json.organization.id }}",
              "type": "string"
            },
            {
              "id": "ebac0f2c-f81a-42d2-a5ad-89682fd96ffc",
              "name": "name",
              "value": "={{ $json.organization.name }}",
              "type": "string"
            },
            {
              "id": "9d44a585-c5a0-4b26-bc68-cbaf672adb4c",
              "name": "linkedin_url",
              "value": "={{ $json.organization.linkedin_url.replace('http', 'https') }}",
              "type": "string"
            },
            {
              "id": "9f6f086e-9006-4eab-9ce9-8ceb28ddcc66",
              "name": "twitter_url",
              "value": "={{ $json.organization.twitter_url }}",
              "type": "string"
            },
            {
              "id": "ef2decd2-2631-42d2-8b4d-7d0ff439beaf",
              "name": "facebook_url",
              "value": "={{ $json.organization.facebook_url }}",
              "type": "string"
            },
            {
              "id": "a4177647-8fec-4e5a-a39e-19fe76da3f7d",
              "name": "primary_phone",
              "value": "={{ $json.organization.primary_phone }}",
              "type": "object"
            },
            {
              "id": "c35324db-e0c0-4d24-b302-c51e49c81252",
              "name": "founded_year",
              "value": "={{ $json.organization.founded_year }}",
              "type": "number"
            },
            {
              "id": "66932fce-7c34-4246-a4f8-b83a29a8e9bb",
              "name": "logo_url",
              "value": "={{ $json.organization.logo_url }}",
              "type": "string"
            },
            {
              "id": "de4b49dd-3202-48fd-a32e-ff80cbb2a1ef",
              "name": "industry",
              "value": "={{ $json.organization.industry }}",
              "type": "string"
            },
            {
              "id": "50a8a0f4-5048-4395-b17a-0759a371d269",
              "name": "estimated_size",
              "value": "={{ $json.organization.estimated_num_employees }}",
              "type": "string"
            },
            {
              "id": "4d4ed083-2138-481d-9a2a-97ce9db3c785",
              "name": "raw_address",
              "value": "={{ $json.organization.raw_address }}",
              "type": "string"
            },
            {
              "id": "4bd7a60f-a114-4f70-83aa-645932a0e098",
              "name": "short_description",
              "value": "={{ $json.organization.short_description }}",
              "type": "string"
            },
            {
              "id": "dd5c2e9f-41c0-4d32-9386-6650cda0273d",
              "name": "suborganizations",
              "value": "={{ $json.organization.suborganizations }}",
              "type": "array"
            },
            {
              "id": "6d39a953-1704-44d1-b86c-831d8a15dad3",
              "name": "primary_domain",
              "value": "={{ $json.organization.primary_domain }}",
              "type": "string"
            },
            {
              "id": "e098de1a-78e2-475e-8a32-0ef9e32ba0fc",
              "name": "organization.organization_revenue",
              "value": "={{ $json.organization.organization_revenue }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        576,
        192
      ],
      "id": "da22627a-d1ec-46f9-b7b5-1ceae40341b7",
      "name": "SetFields"
    },
    {
      "parameters": {
        "url": "https://api.apollo.io/api/v1/organizations/enrich",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "domain",
              "value": "={{$json.domain}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        128,
        192
      ],
      "id": "bb449aed-a26d-462c-adc9-9a579968f8ec",
      "name": "Apollo:EnrichCompany",
      "credentials": {
        "httpHeaderAuth": {
          "id": "{{APOLLO_API_CREDENTIAL_ID}}",
          "name": "Apollo API"
        }
      }
    },
    {
      "parameters": {
        "resource": "linkedin",
        "operation": "getLinkedinCompanyPage",
        "url": "={{ $('SetFields').item.json.linkedin_url }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-scrape-creators.scrapeCreators",
      "typeVersion": 1,
      "position": [
        1824,
        192
      ],
      "id": "287ba6a8-c8a9-4fa3-9bb4-fb3d6363beb0",
      "name": "Get a linked in company page",
      "credentials": {
        "scrapeCreatorsApi": {
          "id": "{{SCRAPE_CREATORS_CREDENTIAL_ID}}",
          "name": "Scrape Creators API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apollo.io/api/v1/news_articles/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "organization_ids[]",
              "value": "={{ $('SetFields').item.json.id }}"
            },
            {
              "name": "published_at[min]",
              "value": "={{ $now.minus(6, 'months') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1824,
        -224
      ],
      "id": "f39fc106-ec43-45fa-8d6a-6027e82e4c57",
      "name": "Apollo:LatestNews",
      "credentials": {
        "httpHeaderAuth": {
          "id": "{{APOLLO_API_CREDENTIAL_ID}}",
          "name": "Apollo API"
        }
      }
    },
    {
      "parameters": {
        "resource": "extract",
        "urls": [
          "={{ $json.url }}"
        ],
        "options": {}
      },
      "type": "@tavily/n8n-nodes-tavily.tavily",
      "typeVersion": 1,
      "position": [
        2496,
        -224
      ],
      "id": "ba45bb11-71c2-499e-929f-990e81f31ce8",
      "name": "Extract",
      "credentials": {
        "tavilyApi": {
          "id": "{{TAVILY_API_CREDENTIAL_ID}}",
          "name": "Tavily API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fieldToSplitOut": "posts",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2272,
        192
      ],
      "id": "e22c45c1-7063-4778-ae96-cf383b402540",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        2496,
        192
      ],
      "id": "34904ea7-1d70-4611-9d05-c28ce88f73ef",
      "name": "Last 5 Posts"
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        2272,
        -224
      ],
      "id": "08961d3e-32d8-4177-ac05-48849ccd4fce",
      "name": "Last 5 Articles"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2f39951c-c383-4e0b-bbe9-b1a86ffc9532",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "ceafdab1-c0ff-436a-ace0-68c086dbc2ca",
              "name": "image",
              "value": "={{ $json.image }}",
              "type": "string"
            },
            {
              "id": "af432dce-613e-4367-a70f-790756763477",
              "name": "about",
              "value": "={{ $json.about }}",
              "type": "string"
            },
            {
              "id": "93d5ef1f-2362-4221-99c6-8d88528682ef",
              "name": "activity",
              "value": "={{ $json.activity }}",
              "type": "array"
            },
            {
              "id": "e6290f84-be20-4aff-98b3-9c3f461b2630",
              "name": "publications",
              "value": "={{ $json.publications }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2720,
        592
      ],
      "id": "35588d2c-7d58-43f0-9bce-c4b784e39385",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "428dcbae-429e-4a6a-ba47-a6f0daaeb409",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2720,
        192
      ],
      "id": "769f8958-2b90-48b0-bd53-092f41e53345",
      "name": "Extract Post Text"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2944,
        192
      ],
      "id": "0b2b14c2-fb16-4aae-80e4-d72f558b416c",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2944,
        592
      ],
      "id": "c431601b-436f-425d-96b2-7b44a9fc8553",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0f628c44-087d-4fa1-ae48-321d8c760cf2",
              "name": "raw_extract",
              "value": "={{ $json.results[0].raw_content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2720,
        -224
      ],
      "id": "69692c82-1bd1-4b66-a935-3317001f44b8",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2944,
        -224
      ],
      "id": "2e68a717-1dbf-4ff7-ba5f-a9a0c54ded3d",
      "name": "Aggregate2"
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all().map(item => item.json);\n\n// Create a nicely formatted string with context\nconst formattedJson = JSON.stringify(allItems, null, 2);\n\nconst llmPrompt = `Here is the data in JSON format:\n\n\\`\\`\\`json\n${formattedJson}\n\\`\\`\\`\n\nPlease analyze this data.`;\n\nreturn [{ json: { prompt: llmPrompt } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3168,
        -224
      ],
      "id": "915d4c25-941e-4f53-a252-d4cb9aa8ab54",
      "name": "LLMHelper"
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all().map(item => item.json);\n\n// Create a nicely formatted string with context\nconst formattedJson = JSON.stringify(allItems, null, 2);\n\nconst llmPrompt = `Here is the data in JSON format:\n\n\\`\\`\\`json\n${formattedJson}\n\\`\\`\\`\n\nPlease analyze this data.`;\n\nreturn [{ json: { prompt: llmPrompt } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3168,
        192
      ],
      "id": "0806b0d4-69df-4897-a00c-dd875cc7dc80",
      "name": "LLMHelper2"
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all().map(item => item.json);\n\n// Create a nicely formatted string with context\nconst formattedJson = JSON.stringify(allItems, null, 2);\n\nconst llmPrompt = `Here is the data in JSON format:\n\n\\`\\`\\`json\n${formattedJson}\n\\`\\`\\`\n\nPlease analyze this data.`;\n\nreturn [{ json: { prompt: llmPrompt } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3168,
        592
      ],
      "id": "b281af15-cda3-4a39-84cc-935ab9a008c3",
      "name": "LLMHelper1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        3472,
        -96
      ],
      "id": "74ae379f-93e9-4041-bb29-642623a5e1a7",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "{{OPENAI_API_CREDENTIAL_ID}}",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        3472,
        816
      ],
      "id": "be75a2b4-f503-4756-8ce5-24d4a374e1bb",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "{{OPENAI_API_CREDENTIAL_ID}}",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        3472,
        304
      ],
      "id": "b6d185c1-e8f4-4b77-9ca1-736039da8b86",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "{{OPENAI_API_CREDENTIAL_ID}}",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "options": {
          "systemMessage": "=## Role\nYou are an expert data extraction agent, specialising in summarising data for CRM enrichment that will feed into another agent for a specific customer\n\n## Goal\nDiscover key information about {{ $('SetFields').item.json.organization.name }} through recent article activity. Transform that information in key talking points for lead generation and enrichment\n\n## Rules / Guardrails\n- MUST only provide information that is relevant to {{ $('SetFields').item.json.organization.name }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        3392,
        -320
      ],
      "id": "76cf1c01-7db5-45f5-89e8-330d14b0cf22",
      "name": "Apollo Summary Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "options": {
          "systemMessage": "=## Role\nYou are an expert LinkedIn data extraction agent, specialising in summarising data for CRM enrichment that will feed into another agent.\n\n## Goal\nDiscover key information about {{ $('SetFields').item.json.organization.name }} through recent activities of their LinkedIn Posts. Transform that information in key talking points for lead generation and enrichment\n\n## Rules / Guardrails\n- MUST only provide information that is relevant to {{ $('SetFields').item.json.organization.name }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        3392,
        80
      ],
      "id": "32a559e9-ffcb-4942-b113-25775510ce20",
      "name": "LinkedIn Company Summary Agent"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3744,
        176
      ],
      "id": "ada1af3d-5ade-47a7-8542-18a989f9cf2a",
      "name": "Merge"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        3968,
        192
      ],
      "id": "1f3462b2-c43a-481d-9508-c8f5db9c0c50",
      "name": "Aggregate3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Company Name: {{ $('SetFields').item.json.organization.name }}\nDomain: {{ $('Apollo:EnrichCompany').item.json.organization.primary_domain }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=## Role\nYou are an expert in identifying leadership teams within a company \n\n## Goal\nDiscover who makes up the leadership team of {{ $('SetFields').item.json.organization.name }} as of {{ $now }}\n\n## Rules / Guardrails\n- MUST only provide team information that is relevant to {{ $('SetFields').item.json.organization.name }}\n- MUST only provide people who are currently employed as of {{ $now }}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1248,
        688
      ],
      "id": "aa9ebf93-6d7b-47cf-8c4b-c17a2824bfcd",
      "name": "Leadership Search Agent"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"leadership_team\": [\n    {\n    \"name\": \"Blaine Holt\",\n    \"role\": \"CEO\",\n    \"asof\": \"Dec 2024\"\n    }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1392,
        912
      ],
      "id": "5fcbc702-c2de-4d4d-967d-b95e28217867",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4b4b9ef5-f453-4e42-b8bc-255e7b7e587a",
              "name": "person.linkedin_url",
              "value": "={{ $json.person.linkedin_url.replace('http', 'https') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2048,
        592
      ],
      "id": "8635e777-8282-42b5-b676-e3209faa8efb",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apollo.io/api/v1/people/match",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $json.name }}"
            },
            {
              "name": "organization_name",
              "value": "={{ $('Apollo:EnrichCompany').item.json.organization.name }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1824,
        688
      ],
      "id": "404ab71c-340a-4df0-8711-3810370a520d",
      "name": "Apollo:Fetch Person",
      "credentials": {
        "httpHeaderAuth": {
          "id": "{{APOLLO_API_CREDENTIAL_ID}}",
          "name": "Apollo API"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.leadership_team",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1600,
        688
      ],
      "id": "c3640d68-f51d-4915-b042-ba5c4c9b29c4",
      "name": "Split People"
    },
    {
      "parameters": {
        "fieldToSplitOut": "news_articles",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2048,
        -224
      ],
      "id": "dfbda3c3-a38a-4467-897b-74c99363f66d",
      "name": "Split News"
    },
    {
      "parameters": {
        "resource": "linkedin",
        "url": "={{ $json.person.linkedin_url }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-scrape-creators.scrapeCreators",
      "typeVersion": 1,
      "position": [
        2496,
        592
      ],
      "id": "9fba143b-1753-4acf-ab04-cab7c2fd3c5d",
      "name": "Get a LinkedIn Profile",
      "credentials": {
        "scrapeCreatorsApi": {
          "id": "{{SCRAPE_CREATORS_CREDENTIAL_ID}}",
          "name": "Scrape Creators API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0a478207-500e-4bdd-8e25-dead08881cfe",
              "leftValue": "={{ $json.organization }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        352,
        192
      ],
      "id": "fa458072-8ab9-4584-89e2-3eef0b7a5790",
      "name": "If1"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        4464,
        400
      ],
      "id": "1985fc73-c3b9-41a0-bc93-0a1e88435636",
      "name": "Think1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "40f107a6-d0c5-4e26-830c-e3f29929d86b",
              "name": "data",
              "value": "={{ $json.data[0].output }}\n---\n{{ $json.data[1].output }} \n---\n{{ $json.data[2].output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4192,
        192
      ],
      "id": "004295c4-7dc5-4c0b-8bb3-ecf458d403b3",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "options": {
          "systemMessage": "=## Role\nYou are an expert LinkedIn data extraction agent, specialising in summarising data for CRM enrichment that will feed into another agent.\n\n## Goal\nDiscover key information about {{ $('SetFields').item.json.organization.name }} through recent activities of employees. Transform that information in key talking points for lead generation and enrichment\n\n## Rules / Guardrails\n- MUST only provide information that is relevant to {{ $('SetFields').item.json.organization.name }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        3392,
        592
      ],
      "id": "abfacb52-7969-448d-a664-3bac2f80d168",
      "name": "LinkedIn Leadership Summary"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Company Name: {{ $('Apollo:EnrichCompany').item.json.organization.name }}\nDomain: {{ $('Apollo:EnrichCompany').item.json.organization.primary_domain }}\nResearch: {{ $json.data }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=## Role\nYou are an expert LLM-as-a-Judge who verifies information provided by other LLMs. Your role is to review the claims being made are factual as of {{ $now }}\n\n\n## Goal\nProvide an analysis and recommended updates to the claims made\n\n## Rules / Guardrails\n- MUST only provide team information that is relevant to {{ $('SetFields').item.json.organization.name }}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        4400,
        192
      ],
      "id": "06ed6b6a-5971-451e-afe9-5f269522b86c",
      "name": "LLM Critic"
    },
    {
      "parameters": {
        "resource": "Records",
        "operation": "PUT -v2-objects--object--records",
        "matching_attribute": "email_addresses",
        "data": "={{ $json.data }}"
      },
      "type": "n8n-nodes-attio.attio",
      "typeVersion": 1,
      "position": [
        2720,
        784
      ],
      "id": "c1b054f5-0cad-4313-90af-91a65061b7d8",
      "name": "Assert a record",
      "credentials": {
        "attioApi": {
          "id": "{{ATTIO_API_CREDENTIAL_ID}}",
          "name": "Attio API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "81898e3e-ee5f-471f-a6fe-e695099a3dd1",
              "name": "name",
              "value": "={{ $('Split People').item.json.name }}",
              "type": "string"
            },
            {
              "id": "6e2ffebe-59a9-4921-8e99-0cb7e2e34cd1",
              "name": "role",
              "value": "={{ $('Split People').item.json.role }}",
              "type": "string"
            },
            {
              "id": "0e6c3c29-ee48-4a81-89b8-7dca5507dc5f",
              "name": "person.linkedin_url",
              "value": "={{ $json.person.linkedin_url || null }}",
              "type": "string"
            },
            {
              "id": "a871927c-af37-4cfd-b366-2c7bc2795f4b",
              "name": "person.email_status",
              "value": "={{ $json.person.email_status }}",
              "type": "string"
            },
            {
              "id": "b89eba04-3978-4d61-965e-6c68f4197fba",
              "name": "person.email",
              "value": "={{ $json.person.email }}",
              "type": "string"
            },
            {
              "id": "97cb5d41-71e2-42eb-860c-a43d0c19cca1",
              "name": "data.values.domains[0].domain",
              "value": "={{ $('Post Assert Body: Company').item.json.data.values.domains[0].domain }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2048,
        784
      ],
      "id": "082240c5-3ea8-4a8d-bfcf-cc3787cf5ea0",
      "name": "Set Person Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "82dbf67f-de3b-4388-963f-68de8a0f08dc",
              "leftValue": "={{ $json.person.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "ec0832ab-02e7-4e09-bbf3-a27e9209a7b7",
              "leftValue": "={{ $json.person.email.split(\"@\")[1] }}",
              "rightValue": "={{ $json.data.values.domains[0].domain }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2272,
        784
      ],
      "id": "0f721b6f-d83e-4b78-abe1-e3e5927c91ba",
      "name": "If Email & Domain"
    },
    {
      "parameters": {
        "jsCode": "// Code node to format Attio People data\nconst items = $input.all();\n\nreturn items.map(item => {\n  const data = item.json;\n  const person = data.person || {};\n  \n  // Build the values object\n  const values = {};\n  \n  // Name (required, array format)\n  if (data.name) {\n    values.name = [data.name];\n  }\n  \n  // Job title (from role field)\n  if (data.role) {\n    values.job_title = [data.role];\n  }\n  \n  // LinkedIn URL - only include if valid\n  if (person.linkedin_url && person.linkedin_url !== 'null' && person.linkedin_url.includes('linkedin.com')) {\n    const linkedinUrl = person.linkedin_url.replace('http://', 'https://');\n    values.linkedin = [linkedinUrl];\n  }\n  \n  // Email addresses (skip if null or empty, trim whitespace)\n  if (person.email && person.email.trim()) {\n    values.email_addresses = [{\n      email_address: person.email.trim()\n    }];\n  }\n  \n  return {\n    json: {\n      data: {\n        values: values\n      }\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2496,
        784
      ],
      "id": "97333040-b21f-4c71-b1ea-062b55b62259",
      "name": "Post Assert Body"
    },
    {
      "parameters": {
        "jsCode": "// Code node to format for Attio\n\nconst items = $input.all();\n\n \n\nreturn items.map(item => {\n\n  const org = item.json;\n\n \n\n  // Build the values object\n\n  const values = {\n\n    name: [org.name || ''],\n\n    description: [org.short_description || ''],\n\n    linkedin: [org.linkedin_url || '']\n\n  };\n\n \n\n  // Only add domains if primary_domain exists and is not empty\n\n  if (org.primary_domain && org.primary_domain.trim() !== '') {\n\n    values.domains = [{\n\n      domain: org.primary_domain\n\n    }];\n\n  }\n\n \n\n  return {\n\n    json: {\n\n      data: {\n\n        values: values\n\n      }\n\n    }\n\n  };\n\n});\n\n \n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        192
      ],
      "id": "14a7438b-e05b-4921-9dc4-2ea413f903cd",
      "name": "Post Assert Body: Company"
    },
    {
      "parameters": {
        "resource": "Records",
        "operation": "PUT -v2-objects--object--records",
        "object": "companies",
        "matching_attribute": "domains",
        "data": "={{ $json.data }}"
      },
      "type": "n8n-nodes-attio.attio",
      "typeVersion": 1,
      "position": [
        1008,
        192
      ],
      "id": "c3377b0d-44a0-4041-a51f-ccef58102e1d",
      "name": "Assert Record: Company",
      "credentials": {
        "attioApi": {
          "id": "{{ATTIO_API_CREDENTIAL_ID}}",
          "name": "Attio API"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "builtInTools": {
          "webSearch": {
            "searchContextSize": "medium"
          }
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1264,
        912
      ],
      "id": "015753e6-170f-4d05-a98d-a30cc5e5e540",
      "name": "GPT 4o - Date Smart",
      "credentials": {
        "openAiApi": {
          "id": "{{OPENAI_API_CREDENTIAL_ID}}",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "96d4a6e6-92a5-4e37-9705-09e90f17ab31",
              "leftValue": "={{ $json.person.linkedin_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2272,
        592
      ],
      "id": "a3fbdd44-5ca7-4792-b472-c2039d8b62c5",
      "name": "If LinkedIn Url"
    },
    {
      "parameters": {
        "content": "## Leadership Enrichment\n\n",
        "height": 624,
        "width": 2448,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1216,
        480
      ],
      "typeVersion": 1,
      "id": "cce1dd77-02e8-49ba-93b8-62ed229a6a18",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## LinkedIn Company Enrichment\n\n",
        "height": 368,
        "width": 2064,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1600,
        64
      ],
      "typeVersion": 1,
      "id": "3dac72b3-2dae-4c7c-a05b-174f15d1e782",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Latest News Enrichment\n\n",
        "height": 368,
        "width": 2064,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1600,
        -336
      ],
      "typeVersion": 1,
      "id": "f10d73e3-a673-416f-900b-478e1ca12750",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "builtInTools": {
          "webSearch": {
            "searchContextSize": "medium"
          }
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        4336,
        400
      ],
      "id": "226dc2eb-b37c-4b06-9eae-b23189f4c4dc",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "{{OPENAI_API_CREDENTIAL_ID}}",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"verification\": [\"verification1\", \"verification2\"],\n\t\"updates\": [\"updated1\", \"update2\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        4608,
        400
      ],
      "id": "258a5ce3-abf0-41b9-b067-c0fa939d55a7",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## Discovery Inputs\n{{ $('Edit Fields3').item.json.data }}\n\n\n## Critiques From LLM-as-Judge\n{{ $json.output.updates }}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=## Role\nYou are a expert Lead Enrichment Agent who ingests research and critiques done by other LLMs to produce a profile of a prospect to be entered in Attio CRM. \n\n## Goal\nCreate a dossier of a company into the following components:\n\n- Current Positioning: Paragraph on how they are positioning themselves today\n- Key Conversation Points: 1 - 3 key points to engage a sales conversation with\n- Leaderships Conversations: Paragraph on what their leadership team is saying\n\n## Rules / Guardrails\n- MUST only use input provided"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        4752,
        192
      ],
      "id": "08dbb8ad-d062-46bd-9aea-d32898bb2bd2",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "resource": "Records",
        "operation": "PUT -v2-objects--object--records",
        "object": "companies",
        "matching_attribute": "domains",
        "data": "={{ $json.data }}"
      },
      "type": "n8n-nodes-attio.attio",
      "typeVersion": 1,
      "position": [
        5376,
        192
      ],
      "id": "9c2fae38-7d60-4153-be77-5a17cf4eb870",
      "name": "Assert Record: Company1",
      "credentials": {
        "attioApi": {
          "id": "{{ATTIO_API_CREDENTIAL_ID}}",
          "name": "Attio API"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"positioning\": \"positioning\",\n  \"conversation_points\": \"conversation points\",\n  \"leadership_conversations\":\"leadership_conversations\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        4928,
        400
      ],
      "id": "6c954e61-73f8-4b40-9e7c-ac94236b838e",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        4720,
        416
      ],
      "id": "08860afe-cf24-4f21-a3d5-b3937e99b3e8",
      "name": "OpenAI Chat Model4",
      "credentials": {
        "openAiApi": {
          "id": "{{OPENAI_API_CREDENTIAL_ID}}",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        4832,
        400
      ],
      "id": "299532ec-d0f2-4453-bc83-44676dac3561",
      "name": "Think"
    },
    {
      "parameters": {
        "jsCode": "// Code node to format insights for Attio\n\nconst items = $input.all();\n\nconst primaryDomain = $('SetFields').item.json.primary_domain;\n\n \n\nreturn items.map(item => {\n\n  const output = item.json.output;\n\n \n\n  // Build the values object\n\n  const values = {\n\n    positioning: [output.positioning || ''],\n\n    conversation_points: [output.conversation_points || ''],\n\n    leadership_conversations: [output.leadership_conversations || ''],\n\n    enrichment_status: ['complete' ||'']\n\n  };\n\n \n\n  // Only add domains if primary_domain exists and is not empty\n\n  if (primaryDomain && primaryDomain.trim() !== '') {\n\n    values.domains = [{\n\n      domain: primaryDomain\n\n    }];\n\n  }\n\n \n\n  return {\n\n    json: {\n\n      data: {\n\n        values: values\n\n      }\n\n    }\n\n  };\n\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5104,
        192
      ],
      "id": "4e399d9c-70a6-475f-b561-25e3320f319b",
      "name": "Code in JavaScript"
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Apollo:EnrichCompany",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetFields": {
      "main": [
        [
          {
            "node": "Post Assert Body: Company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apollo:EnrichCompany": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a linked in company page": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apollo:LatestNews": {
      "main": [
        [
          {
            "node": "Split News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Last 5 Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Last 5 Posts": {
      "main": [
        [
          {
            "node": "Extract Post Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Last 5 Articles": {
      "main": [
        [
          {
            "node": "Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Post Text": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "LLMHelper2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "LLMHelper1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "LLMHelper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLMHelper": {
      "main": [
        [
          {
            "node": "Apollo Summary Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLMHelper2": {
      "main": [
        [
          {
            "node": "LinkedIn Company Summary Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLMHelper1": {
      "main": [
        [
          {
            "node": "LinkedIn Leadership Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Apollo Summary Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "LinkedIn Leadership Summary",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "LinkedIn Company Summary Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Apollo Summary Agent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn Company Summary Agent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate3": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leadership Search Agent": {
      "main": [
        [
          {
            "node": "Split People",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Leadership Search Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If LinkedIn Url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apollo:Fetch Person": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set Person Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split People": {
      "main": [
        [
          {
            "node": "Apollo:Fetch Person",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split News": {
      "main": [
        [
          {
            "node": "Last 5 Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a LinkedIn Profile": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "SetFields",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Think1": {
      "ai_tool": [
        [
          {
            "node": "LLM Critic",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "LLM Critic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn Leadership Summary": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "LLM Critic": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Person Fields": {
      "main": [
        [
          {
            "node": "If Email & Domain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Email & Domain": {
      "main": [
        [
          {
            "node": "Post Assert Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Assert Body": {
      "main": [
        [
          {
            "node": "Assert a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Assert Body: Company": {
      "main": [
        [
          {
            "node": "Assert Record: Company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assert Record: Company": {
      "main": [
        [
          {
            "node": "Apollo:LatestNews",
            "type": "main",
            "index": 0
          },
          {
            "node": "Leadership Search Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get a linked in company page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT 4o - Date Smart": {
      "ai_languageModel": [
        [
          {
            "node": "Leadership Search Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If LinkedIn Url": {
      "main": [
        [
          {
            "node": "Get a LinkedIn Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "LLM Critic",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "LLM Critic",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Assert Record: Company1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
